

.header {
  float: right; 
  font-weight:400 ;
}



.header a {
  color: #bd61c0;
  text-decoration: none;
}

.header ul {
  list-style-type: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding-right:45px;

}

.header li {
  display: inline;
  padding: 20px 20px 0px 20px;
  
}

li:hover a {
  color: #59b49a;
}
.welcome {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  margin: 20px 0px 20px 0px;
  font-weight: 100;
}

.welcome small{  font-weight: 100;}

.welcome p {
  text-align: left;
  font-size: 26px;
  padding: 40px 0px 0px 140px;
  color: rgba(0, 0, 0, 0.822);
  font-family: "Roboto", sans-serif;
    font-weight: 100;
    
}

.welcome a {
  color: #59b49a;
  text-decoration: none;
}

.welcome img {padding-top: 35px;
  padding-left:100px;
}

.connect-linkedin 
 {
  background-color: white;
  border: none;
  font-size: 24px;
  border-radius: 50px;
  margin: 30px 10px 30px 135px;
  padding: 24px;
  text-decoration: none;
}

.connect-linkedin:hover {
  cursor: pointer;
background-color:#59b49a;
}

.connect-linkedin:hover a {
  color: white;
}

p#About-Me {
  text-align: left;
  font-size: 32px;
  padding: 40px 140px 80px 140px;
  color: rgba(0, 0, 0, 0.822);
  font-family: "Roboto", sans-serif;
  line-height: 140%;
    font-weight: 200;
}

.heading-aboutme {
    font-weight: 300;
 
  padding: 40px 140px 80px 0px;
}

img#logo {
  padding: 20px 0px 0px 120px;
  margin: 0 auto;
}




.project1header h1  {padding: 120px 20px 20px 100px;
  font-family: Inter;
  font-size: 61px;
  font-weight: 300;
letter-spacing: normal;

  text-align: left;
}

.project1header {
  padding: 80px 80px 20px 140px;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  ;
}

.project1header p{
  padding: 20px 20px 20px 140px;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
    font-weight: 200;
  
}

.project1body h1 {

  padding: 20px 20px 20px 300px;
  font-family: Inter;
  font-size: 61px;
  font-weight: 300;

letter-spacing: normal;

  text-align: left;
}

.project1body h2 {
font-size: 42px;
  padding: 20px 20px 20px 300px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: 300;
}

.project1body h3 {
font-size: 32px;
  padding: 5px 5px 20px 300px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: 300;
}


.project1body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.error-msg{   display: block;
  margin-left: 200px;
  margin-right: auto;width: 80%;
}

.project1body p {
  padding: 5px 300px 20px 300px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight:200;
}
.project1body a {
  text-decoration: none;
}

.heading-myprojects {
  font-size: 60px;
  padding: 40px 140px 40px 0px;

}
.sub-heading {
  font-weight: 300;
  font-size: 32px;
  padding: 40px 300px 40px 0px;
  font-family: "Roboto", sans-serif;
 
  text-align: left;
}

.SS-page-img {
  margin: 10px 50px 0px 50px;
}

.sub-heading a {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 40px 0px 40px 0px;
  text-decoration: none;
  color: darkblue;
}

.survey-img {
  margin: 10px 50px 0px 50px;
}

.survey-summary {
  padding: 40px 300px 0px 300px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

iframe {
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.affinity-map-ex {
  margin: 0px 40px 10px 40px;
  padding: 25px;
}


.interaction-design1
{ font-family: "Roboto", sans-serif;
  font-size: 24px;
 margin:10px 30px 10px 10px;
  padding: 10px 60px 10px 80px;
}
.interaction-design2
{margin:10px 10px 10px 50px; 
  padding:30px 50px 10px 120px; font-family: "Roboto", sans-serif;
  font-size: 24px}



.dropbtn {

 display: inline;
  margin: 10px 0px 0px 0px;
  padding: 20px 20px 0px 20px;
   color: #bd61c0;
  background-color: white;
   border: none;
     text-decoration: none;

}

.dropbtn:hover, .dropbtn:focus {
    color: #59b49a;
         outline: none;

   
    

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;



}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 200px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #59b49a;
  padding: 10px 0px 5px 20px
  ;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {color:#bd61c0 ;
  text-decoration: none;
     

}
/* Change color of dropdown links on hover */


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.project2header h1{text-align: left; 
padding-left: 0;
padding-top: 20px;}

.project2header h3 {

  padding-bottom: 40px;
}
.project2header {
  padding: 80px 180px 20px 140px;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  ;
}


.project2header p {

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 100;
}





.weather-app {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  height: 500px;
  border-radius: 10px;
  margin-left:auto;
  margin-right: auto;
  max-width: 800px;
}

.current-date h5 {
  padding: 10px;
  font-size: 12px;
  color: white;
  font-weight: thinner;
  font-family: "Noto Sans", sans-serif;
}

#current-location-button {
  display: block;
  background: darkblue;
  color: white;
  font-size: 20px;
  padding: 12px 20px 12px 20px;
  border: none;
border-radius: 30px;
  transition: all 200ms ease-in-out;
}

#current-location-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

form {
  font-size: 10px;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
  margin-left: 60px;
}

.weather-summary {
  text-align: left;
  font-size: 30px;
  padding: 17px 72px 30px 83px;
}

.current-city {
  font-size: 50px;

  font-family: "Noto Sans", sans-serif;
  color: darkblue;
}

.current-temp {
  font-size: 60px;
  font-family: "Noto Sans", sans-serif;
  color: darkblue;
  padding: 10px;
}
.current-temp-icon {
  padding: 0px 0px 20px 5px;
}

.units {
  font-size: 12px;
  position: relative;
  top: -34px;
  color: white;
}

ul {
  font-size: 15px;
  list-style: none;
  padding: 20px 0px 0px 5px;
  color: white;
}

.forecast {
  padding: 5px 30px 25px 30px;
}
.time-slot {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  border-radius: 30px;
  padding-top:10px;
}
.time-slot:hover {
  cursor: pointer;
  border-radius: 30px;
  transition: all 150ms ease-in-out;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.footer {text-align:center;
padding-top: 5px;}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 100px;
  right: 60px; 
  z-index: 99; 
  border:#59b49a;
  border-style: solid;
  border-width: 1px;
  outline: none; 
  background-color: white;
  color: #59b49a; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 100px;
  font-size: 20px;
}



#myBtn:hover {
  background-color:#59b49a; 
  color:white;}




  .contact{  padding: 80px 40px 40px 140px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
  
.contact-hd {
  font-size: 60px;

  padding: 80px 40px 80px 140px;

}

.contact a, .email {font-size: 24px;
  margin-left: 25px;
position: absolute;

color: blue;}

.collapsible {
  text-decoration: none;
  background-color:white;
  color: #444;
   font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 10px;
  width:60%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
 margin-left: 290px;
    font-weight:100;

  
}


.collapsible:focus{
   outline: none;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: white;
   color: black;
   font-weight:100;
     text-decoration: none;
}

/* Style the collapsible content. Note: hidden by default */
.content {

  display: none;
  overflow: hidden;
  background-color: white;
   
    
}

.collapsible:after {
  content: none; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}



/* Slideshow  */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.10s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}






